In [ ]:
#List of high schools

In [ ]:
#high_schools = ["Hernandez High School", "Figueroa High School", "wilson High School"]

In [ ]:
high_schools = ["Huang Jigh School","Figueroa High School", "Shelton High School","Hernandez High School", "Griffin High School", "Wilson High School", "Cabrera High School", "Baily High School", "Holden High School", "Pena High School", "Wright High School", "Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [ ]:
for school in high_schools:

In [ ]:
    print(school)

In [ ]:
#A dictionary of high schools and the type of schoool.

In [ ]:
#high_school_types = [{"High School": "Griffin", "Type": "District"},
                    {"High School": "Figeueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [ ]:
#A dictionary of high schools

In [ ]:
#high_school_dicts = [{"School ID": 0, "School name": "Huang High School", "Type": "District"},
                    {"School ID": 1, "School name":"Figeueroa High School", "Type": "District"},
                    {"School ID": 2, "School name": "Shelton High School", "Type": "Charter"},
                    {"School ID": 3, "School name":  "Hernandez High School", "Type": "District"}
                    {"School ID": 4, "School name": "Griffin High School", "Type": "Charter"}]

In [ ]:
#Create a data frame

In [ ]:
school_df = pd.Dataframe(high_school_dicts)

In [ ]:
School_df

In [ ]:
#Add the Pandas dependency.

In [ ]:
import pandas as pd

In [ ]:
#Create a Pandas Series from a list.

In [ ]:
school_series = pd.series(high_schools)

In [ ]:
school_series

In [ ]:
#Three seperate lists of information on high schools

In [ ]:
school_id + [0, 1, 2, 3, 4]

In [ ]:
school_name = ["Huand High School", "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High School"]

In [ ]:
type_of_school = [District", "District", "Charter", "District","Charter"]

In [ ]:
#Initialize a new Dataframe.

In [ ]:
schools_df = pd.DataFrame()

In [ ]:
#Add the list to a new Dataframe.

In [ ]:
schools_df["School ID"] = school_id

In [ ]:
#Print the Dataframe.

In [ ]:
schools_df

In [ ]:
#Index(['School ID', 'school_name', 'type'], dtype='object')

In [ ]:
#school_df.index